.chaos-collage {
  position: relative;
  height: 900px;
}

.chaos-photo {
  position: absolute;
  background: #0a0f14;
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.chaos-photo .photo-placeholder {
  width: 100%;
  height: 100%;
}

.chaos-1 {
  width: 220px;
  height: 165px;
  top: 0;
  left: 10%;
  transform: rotate(5deg);
  z-index: 3;
}

.chaos-2 {
  width: 220px;
  height: 150px;
  top: 50px;
  right: 0;
  transform: rotate(-6deg);
  z-index: 5;
}

.chaos-3 {
  width: 170px;
  height: 225px;
  top: 170px;
  left: -5%;
  transform: rotate(-7deg);
  z-index: 2;
}

.chaos-4 {
  width: 210px;
  height: 160px;
  top: 280px;
  left: 35%;
  transform: rotate(-4deg);
  z-index: 6;
}

.chaos-5 {
  width: 200px;
  height: 155px;
  top: 420px;
  right: 0;
  transform: rotate(6deg);
  z-index: 8;
}

.chaos-6 {
  width: 155px;
  height: 200px;
  top: 480px;
  left: 5%;
  transform: rotate(-5deg);
  z-index: 1;
}

.chaos-7 {
  width: 200px;
  height: 155px;
  top: 700px;
  left: 5%;
  transform: rotate(4deg);
  z-index: 7;
}

.chaos-8 {
  width: 160px;
  height: 210px;
  top: 620px;
  right: 2%;
  transform: rotate(-4deg);
  z-index: 3;
}

.chaos-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
