@use 'styles/variables' as *;
@use 'components/common/navbar/navbar';
@use 'components/home/intro/intro';
@use 'components/home/about/about';
@use 'components/home/journey/journey';
@use 'components/home/projects/projects';

@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #0a0f14;
  font-family: 'Jost', system-ui, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding-top: 70px;
}

footer {
  color: black;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.min-vh-50 {
  min-height: 50vh;
}

.card-background {
  background-color: #24333cb2;
}

.home-intro-container {
  max-width: 60%;
  padding-right: 3rem;
  padding-left: 3rem;

  @media (max-width: 768px) {
    max-width: 100%;
    margin-top: 25px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.main-title {
  font-size: 60px;
}

.title-underline::before {
  content: "";
  position: absolute;
  bottom: 17px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #0056b3;
  z-index: -1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
